
/*GLOBAL*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #3c3c3c;
  font-size: 17px;
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-image: url(img/background.jpg);
  background-position: center;
  background-attachment: scroll;
  background-size: contain;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/*CONTAINER*/

.container {
  max-width: 650px;
  min-height: 100%;
  margin: 0 auto;
  background: #6d6d6d;
  border: 2px solid #222;
}

/*HEADER*/

header {
  text-align: center;
  padding: 16px 0 18px;
}

header h1 {
  font-family: 'Graduate', sans-serif;
  font-size: 40px;
  max-width: 525px;
  margin: 0 auto 4px;
  padding: 15px;
  color: #d8d8d8;
  background: #224C8C;
  box-shadow: inset 0 0 0 3px #d8d8d8;
  border: 4px solid #224c8c;
}

header .dargacode {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
  color: #d8d8d8;
}

header p {
  max-width: 525px;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  color: #0f223e;
  font-style: italic;
}

/*CANVAS*/

canvas {
  display: block;
  outline: 2px solid #222;
  background: #eee;
  margin: 0 auto 18px;
  cursor: move;
}

/*SLIDER*/

.slider-group {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  width: 404px;
  margin: 0 auto 18px;
  padding: 5px 12px 8px;
  border-radius: 12px;
  background: #3c3c3c;
  color: #d8d8d8;
}

.slider-group input {
  width: 300px;
  margin: 0 9px;
  cursor: move;
}

/*Firefox slider*/
.slider-group input::-moz-range-track {
  border-radius: 2px;
  height: 5px;
  background-color: #aaa;
}

.slider-group input::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 10px;
}

.slider-group a {
  color: #c8c8c8;
  font-family: sans-serif;
}

.slider-group a:hover {
  text-decoration: none;
}

.slider-group a.minus-button {
  font-size: 26px;
  position: relative;
  bottom: 1px;
}

/*BUTTONS*/

.buttons {
  text-align: center;
  /*remove space between inline-block elements*/
  font-size: 0;
}

.buttons a {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: 195px;
  padding: 15px 0;
  border-radius: 10px;
  color: #d8d8d8;
  background: #224C8C;
  box-shadow: inset 0 0 0 2px #d8d8d8;
  border: 2px solid #224c8c;
}

.buttons a:nth-of-type(2) {
  margin-left: 14px;
}

.buttons a:hover {
  text-decoration: none;
  color: #224C8C;
  background: #d8d8d8;
  box-shadow: inset 0 0 0 2px #224c8c;
  border: 2px solid #d8d8d8;
}
