
/*GLOBAL*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #3c3c3c;
  font-size: 17px;
}

h1 {
  font-family: 'Graduate', sans-serif; 
  text-align: center;
  font-size: 46px;
  color: #222;
  margin: 50px 0 0;
 }

body {
  font-family: 'Fira Sans Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: #d8d8d8;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

/*CONTAINER*/

.container {
  max-width: 650px;
  height: inherit;
  margin: 0 auto;
  padding-top: 2px;
  background: #666;
  /*prevent margin collapse with children*/
  overflow: hidden;
}

/*HEADER*/

header {
}

/*CANVAS*/

canvas {
  display: block;
  outline: 2px solid #222;
  background: #eee;
  margin: 0 auto 22px;
  cursor: move;
}

/*SLIDER*/

.slider-group {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  width: 275px;
  margin: 0 auto 3px;
  padding: 5px 12px 8px;
  border-radius: 50px;
  background: #3c3c3c;
  color: #d8d8d8;
}

.slider-group input {
  width: 200px;
  margin: 0 9px;
  cursor: move;
}

/*Firefox slider*/
.slider-group input::-moz-range-track {
  border-radius: 2px;
  height: 5px;
  background-color: #aaa;
}

.slider-group input::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 10px;
}

.slider-group a {
  font-family: sans-serif;
}

.slider-group a:hover {
  text-decoration: none;
}

.slider-group a.minus-button {
  font-size: 26px;
  position: relative;
  bottom: 1px;
}

/*BUTTONS*/

.buttons a {
  display: block;
  text-align: center;
  font-size: 18px;
  width: 200px;
  margin: 10px auto;
}
